body {
    margin: 0;
    font-family:"Helvetica Neue",
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    font-size: 50px;
    color: black;
    text-decoration: none;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.heart {
    color: #ff0000;
}

.small {
    font-size: 0.75rem;
}
.mainButtonGroup {
    font-size: 40px;
    color: black;
    text-decoration: none;
    border-color: black;
    border:solid;
    border-radius: 12px;
    margin: 10px;
}
input {
    width: 20%;
    height: 20%;
  }
.textSP {
    font-size: 30px;
}