<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <form id="displForm" method="post">
            <label for="final">Enter Final:</label>
            <input type="text" id="final" name="finalInt" required> <br>
            <label for="begin">Enter beginning:</label>
            <input type="text" id="begin" name="beginInt" required> <br>
            <button type="submit">Solution</button>
        </form>
    </body>

</html>