<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">    </head>
    
    <title>
        Calculator
    </title>
    <body></body>
    
    Physics Calculator
    <br>
    <p class="smalltext">Click on what you want to find</p>
    
    <! -- row one of buttons -->
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Speed</a> 
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Distance</a> 
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Time</a> 
    <a class = "mainButtonGroup" href="{{ url_for('kePage') }}">Kinetic Energy</a>
    <a class = "mainButtonGroup" href="{{ url_for('vPage') }}">Velocity</a> 
    <br>
    <a class = "mainButtonGroup" href="{{ url_for('gePage') }}">Gravitational Energy</a> 
    <a class = "mainButtonGroup" href="{{ url_for('disPlPage') }}">Displacement</a> 


    </body>
</html> 