<!DOCTYPE html>
<html>
    <head> 
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">    </head>
    
    <title>
        Calculator
    </title>
    <body></body>
    
    Physics Calculator
    <br>
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Speed </a> <br>
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Distance </a> <br>
    <a class = "mainButtonGroup" href="{{ url_for('speedPage') }}">Time</a> <br>
    <a class = "mainButtonGroup" href="{{ url_for('kePage') }}">Kinetic Energy</a><br>
    </body>
</html> 