<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Input Form</title>
</head>
<body>
    <h4>If the variable is unknown please put a zero in the textbox</h4>
    <form id="inputForm" method="post">
        <label for="speedtext">Enter speed:</label>
        <input type="text" id="speedInt" name="speedInt" required> <br>
        <label for="timetext">Enter time: </label>
        <input type="text" id="timeInt" name="timeInt" required><br>
        <label for="distext">Enter Distance: </label>
        <input type="text" id="distInt" name="distInt" required><br>
        <button type="submit">Solution</button>
        <h3>results: {{answerTime}}</h3>
    </form>
    
    <text></text>
</body>
</html>

