<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>

    <body>
        <h4>How do you want to find Velocity?</h4>
        <a class = "mainButtonGroup" href="{{ url_for('kePage') }}">Distance and time</a><br>
        <a class = "mainButtonGroup" href="{{ url_for('kePage') }}">Kinetic Energy</a><br>
        <a class = "mainButtonGroup" href="{{ url_for('gePage') }}">Gravitational Energy</a><br>

    </body>

</html>